* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: $color-main-contrast $color-main-light;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $color-main-contrast2;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-main-contrast;
  border-radius: 6px;
  border: 3px solid $color-main-light;
}

body {
  font-family: $font-family-main;
  font-weight: 300;
  margin: 0;
  padding: $size-header-sapace 0 0;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 30px;
  color: $color-main-dark;
  background-color: $color-main-light;
}

::selection {
  color: $color-main-light;
  background: $color-main-contrast;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

article, aside, footer, header, nav, section {
  display: block;

  h1 {
    font-size: 2em;
  }
}

code {
  font-size: 14px;
  display: inline-block;
  background-color: $color-main-contrast2;
  padding: 2px 10px;
  border-radius: 6px;
  word-break: break-word;
  white-space: pre-wrap;
}

pre {
  font-size: 14px;

  code.hljs {
    font-size: inherit;
    border-radius: 3px;
    padding: 20px 30px;
    // hljs stackoverflow-light theme - background overwrite
    background-color: $color-main-contrast2;
  }

  code {
    width: 100%;
  }
}

.main-header {
  position: fixed;
  z-index: $z-index-main-header;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-main-light, 0.9);
  backdrop-filter: saturate(180%) blur(10px);
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main-header-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-list-item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;

  img {
    margin-top: -2px;
  }

  @media screen and (max-width: 538px) {
    &.social-icon {
      display: none;
    }

    &.header-button {
      display: none;
    }
  }
}

.main-menu-versions {
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.main-logo {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-logo-beta {
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  left: 27px;
  bottom: -14px;
  line-height: 1;
}

.main-logo-beta-exclamation {
  color: $color-main-contrast;
  font-weight: 600;
}

.main-logo-dot {
  width: 15px;
  height: 15px;
  background-color: $color-main-contrast;
  margin-right: 10px;
  margin-bottom: 2px;
}

.clearfix {
  &::before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  @extend .clearfix;
  
  &.info-page {
    padding-top: 30px;

    @media screen and (max-width: 768px) {
      padding-top: 10px;
    }
  }
}

.container-full-width {
  @extend .container;
  max-width: 100%;
}

.container-center {
  text-align: center;
}

.main-footer {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: rgba($color-main-dark, .4);
  height: $size-footer-height;
  padding: 0 30px;
  line-height: 1.3;
  background-color: $color-background;
}

.button {
  color: $color-main-dark;
  display: inline-block;
  transition: background-color .2s;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  text-align: center;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 14px;
  background-color: $color-main-dark;
  color: $color-main-light;
  border: 0;

  &:hover {
    background-color: lighten($color-main-dark, 5%);
  }
}

.js-overflow-y-hidden {
  overflow-y: hidden;
  padding-right: 15px;
}

// menu, search etc.
.full-screen-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(darken($color-main-dark, 20%), 0.95);
  color: $color-main-light;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-full-screen-overlay;

  &.js-visible {
    opacity: 1;
    visibility: visible;
  }
}

.full-screen-overlay-contents {
  overflow-y: auto;
  height: 100%;
}

.full-screen-overlay-close-btn {
  position: absolute;
  top: 40px;
  right: 55px;
  cursor: pointer;

  .gg-close {
    transform: scale(2);
  }
}

.go-to-top-button {
  background: $color-main-dark;
  color: $color-main-light;
  position: fixed;
  bottom: -45px;
  right: 15px;
  width: 50px;
  height: 40px;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.js-visible {
    bottom: 0;
  }
}

.page {
  min-height: calc(100vh - #{$size-header-sapace} - #{$size-footer-height});
  background-color: $color-background;
}

.common-link {
  color: $color-main-contrast;
  display: inline-block;
}

.docs-svg-image {
  max-width: 100%;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-button {
  @extend .button;
  font-size: 12px;
  border-radius: 10px;
}
