// check css.gg icons https://css.gg
// current set
// https://css.gg/css?=|chevron-double-up|close|details-more|link|menu|npm|search|twitter|youtube

.gg-chevron-double-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
}
.gg-chevron-double-up::after,
.gg-chevron-double-up::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 7px;
  bottom: 3px;
}
.gg-chevron-double-up::after {
  bottom: 8px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}
.gg-details-more {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 14px;
  border: 2px solid transparent;
}
.gg-details-more::after,
.gg-details-more::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
.gg-details-more::before {
  box-shadow: 0 4px 0 0;
  top: 0;
  width: 16px;
}
.gg-details-more::after {
  width: 10px;
  bottom: 0;
}
.gg-link {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px;
}
.gg-link::after,
.gg-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 8px;
  height: 10px;
  border: 2px solid;
  top: -4px;
}
.gg-link::before {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: -6px;
}
.gg-link::after {
  border-left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  right: -6px;
}
.gg-menu {
  transform: scale(var(--ggs, 1));
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}
.gg-menu::after {
  top: 6px;
}
.gg-npm,
.gg-npm::before {
  box-sizing: border-box;
  display: block;
}
.gg-npm {
  position: relative;
  width: 18px;
  height: 18px;
  transform: scale(var(--ggs, 1));
  border: 3px solid;
  border-radius: 2px;
}
.gg-npm::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: currentColor;
  bottom: -3px;
  right: 3px;
}
.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}
.gg-twitter {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
}
.gg-twitter::after,
.gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px;
}
.gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background: linear-gradient(to left, currentColor 12px, transparent 0)
    no-repeat center 2px/10px 4px;
  top: 4px;
}
.gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0, 7px 12px 0;
}
.gg-youtube {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 10px;
  box-shadow: 0 0 0 2px;
  border-radius: 15px 15px 15px 15px /45px 45px 45px 45px;
}
.gg-youtube::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7px;
  top: 2px;
  border-left: 4px solid currentColor;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
