{{> head
title="404 the page was now found!"
description="I'm sorry, the page doesn't exist."
ogTitle="Elven.js - 404 the page was now found!"
ogDescription="I'm sorry, the page doesn't exist."
ogUrl="https://www.elvenjs.com/404.html"
twitterTitle="Elven.js - 404 the page was now found!"
twitterDescription="I'm sorry, the page doesn't exist."
twitterUrl="https://www.elvenjs.com/404.html"
}}

<div class="container container-center">
    <h1>404 the page was not found!</h1>
    <p>I'm sorry, the page doesn't exist.</p>
</div>

{{> footer}}
