{{> head
title="Disclaimer and Privacy Policy"
description="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
ogTitle="Elven.js - Disclaimer and Privacy Policy"
ogDescription="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
ogUrl="https://www.elvenjs.com/disclaimer-and-privacy-policy.html"
twitterTitle="Elven.js - Disclaimer and Privacy Policy"
twitterDescription="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
twitterUrl="https://www.elvenjs.com/disclaimer-and-privacy-policy.html"
}}

<div class="container info-page">
  <h1>About ElvenJS</h1>

  <p>The ElvenJS is a browser-based script allowing you to interact with the MultiversX blockchain and smart
    contracts without additional configuration or build steps.</p>

  <p>How is it possible? Is this some new SDK for MultiversX?</p>

  <p>Not really a new SDK. ElvenJS is a thin wrapper over the <a
      href="https://docs.multiversx.com/sdk-and-tools/sdk-js/" class="common-link" target="_blank"
      rel="noopener noreferrer">JS SDK</a> libraries. Prepared as a plug-n-play version
    that can handle the most common and simple use cases, like widgets on static websites or additions to existing
    CMS-based websites and e-commerce platforms.</p>

  <p>You can read more in the <a href="/docs/getting-started.html" class="common-link" target="_blank"
      rel="noopener noreferrer">Get started</a> section.</p>

  <h1>About the maintainer</h1>

  <p>I'm a Typescript/JavaScript developer, but I also have some experience in writing
    smart contracts in Rust.</p>

  <p>I've built a couple of tools for the MultiversX ecosystem. Besides ElvenJS they are for example: <a class="common-link"
      href="https://www.elven.tools" target="_blank" rel="noopener noreferrer">Elven Tools</a>, <a class="common-link"
      href="https://github.com/xdevguild/buildo-begins" target="_blank" rel="noopener noreferrer">Buildo
      Begins</a>, <a class="common-link" href="https://www.useelven.com" target="_blank"
      rel="noopener noreferrer">useElven</a>.</p>

  <p>I'm also one of a couple of people behind the <a href="https://github.com/xdevguild" target="_blank"
      rel="noopener noreferrer" class="common-link">xDevGuild</a> Check it out! A lot of awesome resources for
    developers.</p>

  <h1>Disclaimer</h1>

  <p>The website and the tools which it promotes are shared as they are. There are no guarantees that everything works
    as it should. Use at your own risk, only when you know what you are doing!</p>

  <p>I will not be liable to You or anyone else for any decision made or action taken in reliance on the information
    given by the Service or for any consequential, special or similar damages, even if advised of the possibility of
    such damages.</p>

  <h1>Privacy Policy</h1>

  <p>The website doesn't track or collect any users' data. I don't use analytics tools. The website uses the iframes and
    loads third-party content in them, like StackBlitz and Youtube.
    here (mostly CDNs), please report it immediately. It shouldn't happen.</p>

  <h1>Contact me</h1>

  <ul>
    <li><a class="common-link" href="https://www.julian.io">www.julian.io</a></li>
    <li><a class="common-link" href="https://twitter.com/elvenjscom">Twitter</a></li>
    <li><a class="common-link" href="https://t.me/JulianCwirko">Telegram</a></li>
    <li>julian.cwirko@gmail.com</li>
  </ul>

  <h1>Support:</h1>

  <ul>
    <li>Please share all the tools wherever you can! ⚡</li>
    <li>If you want you can support me with $eGld etc. The herotag: <strong>elventools.elrond</strong></li>
  </ul>
</div>

{{> footer}}