{{> head
title="Disclaimer and Privacy Policy"
description="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
ogTitle="Elven.js - Disclaimer and Privacy Policy"
ogDescription="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
ogUrl="https://www.elvenjs.com/disclaimer-and-privacy-policy.html"
twitterTitle="Elven.js - Disclaimer and Privacy Policy"
twitterDescription="Elven.js is a documentation website for the Open Source tooling around MultiversX blockchain."
twitterUrl="https://www.elvenjs.com/disclaimer-and-privacy-policy.html"
}}

<div class="container info-page">
  <h1>About ElvenJS</h1>

  <p>The ElvenJS is a browser-based script allowing you to interact with the MultiversX blockchain and smart
    contracts without additional configuration or build steps.</p>

  <p>How is it possible?</p>

  <p>Elven.js is based on <a
      href="https://docs.multiversx.com/sdk-and-tools/sdk-js/" class="common-link" target="_blank"
      rel="noopener noreferrer nofollow">JS SDK</a> libraries, but it is simplified and incorporates only what is required. Prepared as a plug-n-play version
    that can handle the most common and simple use cases, like widgets on static websites or additions to existing
    CMS-based websites and e-commerce platforms.</p>

  <p>You can read more in the <a href="/docs/getting-started.html" class="common-link" target="_blank"
      rel="noopener noreferrer">Get started</a> section.</p>

  <h1>About the maintainer</h1>

  <p>I'm a TypeScript and JavaScript developer with additional experience writing smart contracts in Rust.</p>

  <p>I've built several tools for the MultiversX ecosystem, including: <a
      class="common-link" href="https://www.elven.tools" target="_blank" rel="noopener noreferrer">Elven Tools</a>, <a
      class="common-link" href="https://github.com/xdevguild/buildo-begins" target="_blank"
      rel="noopener noreferrer">Buildo
      Begins</a>, <a class="common-link" href="https://www.useelven.com" target="_blank"
      rel="noopener noreferrer">useElven</a>.</p>

  <p>I'm also part of the team behind <a href="https://github.com/xdevguild" target="_blank"
      rel="noopener noreferrer" class="common-link">xDevGuild</a> — check it out! It's a fantastic resource hub for developers.</p>

  <h1 id="disclaimer">Disclaimer</h1>
  <p>Last Updated: 2024-11-02</p>

  <p>
    By using Elven.js, you acknowledge and agree to the terms outlined in
    this disclaimer. Elven.js is designed to facilitate transactions on
    the MultiversX blockchain including custom smart contracts. While we strive to provide a seamless and
    secure experience, it is crucial to understand the inherent risks
    associated with blockchain transactions and the use of our tools.
  </p>

  <p>No Liability</p>
  <p>
    Elven.js and its developers, affiliates, or agents will not be liable
    for any direct, indirect, incidental, consequential, or any other
    damages arising out of or in connection with your use of this
    website/app/tools or any transaction conducted through it on the MultiversX
    blockchain mainnet. This includes, but is not limited to, loss of data,
    income, profit, or opportunity, as well as any other possible damages,
    even if we have been advised of the possibility of such damages.
  </p>

  <p>Testing on Devnet</p>
  <p>
    We strongly advise all users to thoroughly test their transactions/setup on
    the MultiversX blockchain devnet before executing them on the mainnet.
    The devnet provides a safe environment to ensure the intended outcomes
    of your transactions without risking real assets. Failure to test on the
    devnet first may result in unexpected outcomes for which Elven.js
    bears no responsibility.
  </p>

  <p>Open Source Software</p>
  <p>
    The source code for Elven.js is openly available for review. We
    encourage all users to inspect and analyze the code to understand its
    functionality fully and assess its security before use. The open-source
    nature of our platform is intended to foster transparency and trust;
    however, it is the user&apos;s responsibility to ensure they are
    satisfied with the software&apos;s safety and reliability before
    engaging in any transactions.
  </p>

  <p>Your Responsibility</p>
  <p>
    As a user, you bear full responsibility for all transactions you execute
    using Elven.js and the MultiversX blockchain. You are urged to
    exercise caution, perform due diligence, and consider the risks involved
    in blockchain transactions.
  </p>

  <p>
    By continuing to use Elven.js, you agree to this disclaimer and
    acknowledge understanding the risks involved.
  </p>

  <h1 id="privacy-policy">Privacy Policy</h1>
  <p>Last Updated: 2024-11-02</p>

  <p>
    Welcome to Elven.js, a tool dedicated to enabling
    blockchain interactions on MultiversX. At
    Elven.js, we prioritize your privacy and are committed to protecting
    it. This Privacy Policy outlines the types of information we do not
    collect, our stance on cookies, and how we handle transactions without
    any third-party involvement.
  </p>

  <p>Information We Do Not Collect</p>
  <p>
    Elven.js is designed to operate without the need to collect personal
    information from its users. Our services allow you to perform
    transactions on MultiversX directly within your browser or smart contracts that you will own. We do not have
    a backend infrastructure, and we do not store, process, or transmit any
    personal data.
  </p>

  <p>Cookies</p>
  <p>
    Elven.js does not use cookies. We believe in providing a seamless
    experience that respects your privacy, which means you can use our
    services without worrying about tracking or storage of cookies on your
    device.
  </p>

  <p>No Third-Party Sharing</p>
  <p>
    Given our operational model, there is no collection of personal
    information, and thus, no sharing of such information with third
    parties.
  </p>

  <p>Changes to Our Privacy Policy</p>
  <p>
    Elven.js reserves the right to modify this privacy policy at any time.
    Any changes will be posted on this page with an updated revision date.
    We encourage you to review our Privacy Policy regularly to stay informed
    about our practices.
  </p>


  <h1>Contact me</h1>

  <ul>
    <li><a class="common-link" href="https://www.julian.io">www.julian.io</a></li>
    <li><a class="common-link" href="https://x.com/elvenjscom">x.com</a></li>
    <li>julian.cwirko@gmail.com</li>
  </ul>

  <h1>Support:</h1>

  <ul>
    <li>Please share all the tools wherever you can! ⚡</li>
  </ul>
</div>

{{> footer}}