{{> head
title="Open Source custom and community based JavaScript Elrond SDK"
description="Elven.js is a browser based custom and community based JavaScript Elrond SDK for interacting with the
protocol
and smart contracts."
ogTitle="Elven.js - Open Source custom and community based JavaScript Elrond SDK"
ogDescription="Elven.js is a browser based custom and community based JavaScript Elrond SDK for interacting with the
protocol
and smart contracts."
ogUrl="https://www.elvenjs.com"
twitterTitle="Elven.js - Open Source custom and community based JavaScript Elrond SDK"
twitterDescription="Elven.js is a browser based custom and community based JavaScript Elrond SDK for interacting with
the
protocol and smart contracts."
twitterUrl="https://www.elvenjs.com"
}}

<div class="container">
  <div class="homepage-lead">
    <h1 class="homepage-lead-subtitle">
      Compact browser library for interacting with the Elrond blockchain and smart
      contracts.<br>Elven.js is a simplified erdjs wrapper. No build steps are
      required. You can also use it directly from CDN.
    </h1>
    <div class="homepage-slogan">One file to rule them all<span class="homepage-lead-accent">!</span></div>
    <div class="homepage-docs-button-section">
      <a href="/docs/getting-started.html">Get started</a>
      <a class="github" href="https://github.com/juliancwirko/elven.js" target="_blank"
        rel="noopener noreferrer">GitHub</a>
    </div>
  </div>
  <div class="iframe-demo">
    <iframe
      src="https://stackblitz.com/edit/web-platform-d4rx5v?embed=1&file=index.html&hideDevTools=1&hideNavigation=1"
      style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" title="pensive-currying-bd9r7h"
      allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
      sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"></iframe>
  </div>
  <div class="homepage-slogan secondary">Check out more demos<span class="homepage-lead-accent">:</span></div>
  <div class="demo-tiles">
    <a class="demo-tile" href="https://stackblitz.com/edit/vitejs-vite-rbo6du?file=src/App.tsx" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/solidjs.svg" alt="StackBlitz demo based on SolidJS" />
        <span class="text">StackBlitz demo based on SolidJS</span>
      </span>
    </a>
    <a class="demo-tile" href="https://stackblitz.com/edit/withastro-astro-pwareu?file=src%2Fpages%2Findex.astro" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/astro.svg" alt="StackBlitz demo based on Astro" />
        <span class="text">StackBlitz demo based on Astro</span>
      </span>
    </a>
    {{!-- TODO: <a class="demo-tile" href="#" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/vue.svg" alt="StackBlitz demo based on Vue" />
        <span class="text">StackBlitz demo based on Vue</span>
      </span>
    </a> --}}
    {{!-- TODO: <a class="demo-tile" href="#" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/react.svg" alt="StackBlitz demo based on React" />
        <span class="text">StackBlitz demo based on React</span>
      </span>
    </a> --}}
    <a class="demo-tile" href="https://elvenjs.netlify.app/" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/netlify.svg" alt="Static website on Netlify" />
        <span class="text">Static website hosted on Netlify</span>
      </span>
    </a>
  </div>
  <div class="homepage-slogan secondary">Other tools<span
      class="homepage-lead-accent">:</span></div>
  <div class="demo-tiles last-tiles-wrapper">
    <a class="demo-tile" href="https://www.elven.tools" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">Elven Tools</span>
        <span class="text">PFP NFTs on Elrond - complete toolset: Smart Contract, CLI, dApp</span>
      </span>
    </a>
    <a class="demo-tile" href="https://github.com/ElrondDevGuild/buildo-begins" target="blank"
      rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">Buildo Begins</span>
        <span class="text">CLI for Elrond blockchain interactions</span>
      </span>
    </a>
    <a class="demo-tile" href="https://github.com/ElrondDevGuild/nextjs-dapp-template" target="blank"
      rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">NextJs dApp template</span>
        <span class="text">Fully featured NextJs/React dApp template for Elrond blockchain</span>
      </span>
    </a>
  </div>
</div>

{{> footer}}