<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Intro</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='intro'
  }}
  <div class="docs-sidebar-left-header">Links</div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://hackernoon.com/how-to-interact-with-the-elrond-blockchain-in-a-simple-static-website"
        target="_blank" rel="noopener noreferrer" rel="" class="docs-articles-list-out-link"><i class="gg-link"></i> How
        to Interact With the MultiversX Blockchain in a Simple Static Website</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://dev.to/juliancwirko/how-to-enable-donations-on-any-website-using-the-elrond-blockchain-and-egld-tokens-3fkf"
        target="_blank" rel="noopener noreferrer" rel="" class="docs-articles-list-out-link"><i class="gg-link"></i> How
        to enable donations on any website using the MultiversX blockchain and EGLD tokens</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://elrond-dev-guild.gitbook.io/scrolls/introduction/multiversx-dev-inventory" target="_blank"
        rel="noopener noreferrer" rel="" class="docs-articles-list-out-link"><i class="gg-link"></i> MultiversX Dev
        Inventory</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://elrond-dev-guild.gitbook.io/scrolls/readme/linux-environment-for-development" target="_blank"
        rel="noopener noreferrer" class="docs-articles-list-out-link"><i class="gg-link"></i> Linux environment for
        development</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/how-to-start-with-multiversx.html" target="_blank" rel="noopener noreferrer"
        class="docs-articles-list-out-link"><i class="gg-link"></i> How to start with the MultiversX blockchain
        development</a>
    </div>
  </div>
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>