</div>
<footer class="main-footer">
  <div>Brought to you by <a href="https://www.julian.io" class="common-link">Julian.io</a> | docs built with the help of <a class="common-link" href="https://www.haroldjs.com">Harold</a></div>
  <div>No cookies, no tracking here! | <a class="common-link" href="/about.html">Disclaimer!</a></div>
</footer>

{{> search-overlay}}
{{> main-menu-overlay}}
{{> go-top-btn}}

<script defer src="/assets/js/sw-init.js"></script>
<script defer src="/assets/js/harold.js"></script>
<script defer src="/assets/js/harold-search.js"></script>
<script defer src="/assets/js/harold-main-menu.js"></script>
<script defer src="/assets/js/harold-scroll-top.js"></script>
<script defer src="/assets/js/harold-docs.js"></script>
<script defer src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/languages/handlebars.min.js"></script>
<script>hljs.highlightAll();</script>
</body>

</html>