<div class="main-menu-overlay" data-js-menu-overlay>
  <div class="main-menu-overlay-contents">
    <div class="main-menu-overlay-close-btn" data-js-menu-close><i class="gg-close"></i></div>
    <div>
      <ul class="main-menu-overlay-list">
        <li class="main-menu-overlay-list-item">
          <a href="/docs/getting-started.html">Docs</a>
        </li>
        <li class="main-menu-overlay-list-item">
          <a href="/about.html">About</a>
        </li>
      </ul>
      <div class="main-menu-overlay-social-separator"></div>
      <div class="main-menu-overlay-social">
        <a href="https://www.npmjs.com/package/elven.js"><i class="gg-npm"></i></a>
        <a href="https://www.julian.io"><i class="gg-link"></i></a>
        <a href="https://twitter.com/elvenjscom"><i class="gg-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCaj-mgcY9CWbLdZsC5Gt00g"><i class="gg-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
